---
---

@import "{{ site.theme }}";

.page-header {
  line-height: 1;
}

@media screen and (min-width: 64em) {
  .page-header { padding: 2rem 6rem 1rem; }
}

@media screen and (max-width: 64em) and (min-width: 42em) {
  .page-header { padding: 2rem 4rem 1rem; }
}

@media screen and (max-width: 42em) {
  .page-header { padding: 1rem 1rem 0.1rem; }
}

blockquote.problem {
  border-left-color: #aa0000;
  color: #aa0000;
}

blockquote.warning {
  border-left-color: #e49e00;
  color: #e49e00;
}

blockquote.note {
  border-left-color: #0086b3;
  color: #0086b3;
}

blockquote.editing {
  border-left-color: #800080;
  color: #800080;
}

del>a { color: #aa0000; }
ins>a { color: #159957; }
ins>a:hover { text-decoration-style: double; }

@media screen and (min-width: 90rem) {
  div.sidebar-outer {
    background-color: white;
    border: 2px solid #eff0f1;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    position: sticky;
    width: calc((100% - 58rem)/2);
    height: calc(100vh - 10.5rem - 2px);
    min-width: 16rem;
    max-width: 24rem;
    top: 5.25rem;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    transform: scaleX(-1);
  }
  div.sidebar-inner {
    transform: scaleX(-1);
  }
  .navbtn {
    display: none;
  }
}

@media screen and (max-width: 90em) {
  div.sidebar-outer {
    display: none;
  }
  .navigation {
    transition: bottom 0.5s, box-shadow 0.5s, opacity 0.5s;
    display: block;
    background-image: url("../img/compass.svg");
    background-color: #157878;
    background-size: 4.5rem;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3rem;
    width: 6rem;
    height: 6rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    opacity: 0.6;
    box-shadow: 0.2rem 0.2rem 1rem black;
  }
  .navigation:hover {
    bottom: 1.5rem;
    opacity: 1;
    box-shadow: 0.2rem 0.4rem 1.4rem black;
  }
}

:not(div):target {
  background: #0991;
  outline: 0.5rem #0991 solid;
}

div:target {
  outline: 0.5rem #0993 solid;
  outline-offset: 0.5rem;
}
