---
---

@import "{{ site.theme }}";

.page-header {
  line-height: 1;
}

@media screen and (min-width: 64em) {
  .page-header { padding: 2rem 6rem 1rem; }
}

@media screen and (max-width: 64em) and (min-width: 42em) {
  .page-header { padding: 2rem 4rem 1rem; }
}

@media screen and (max-width: 42em) {
  .page-header { padding: 1rem 1rem 0.1rem; }
}

blockquote.problem {
  border-left-color: #aa0000;
  color: #aa0000;
}

blockquote.warning {
  border-left-color: #e49e00;
  color: #e49e00;
}

blockquote.info {
  border-left-color: #0086b3;
  color: #0086b3;
}

blockquote.note {
  border-left-color: #159957;
  color: #159957;
}

blockquote.editing {
  border-left-color: #800080;
  color: #800080;
}

@media screen and (min-width: 90rem) {
  div.sidebar-outer {
    background-color: white;
    border: 2px solid #eff0f1;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    position: sticky;
    width: calc((100% - 58rem)/2);
    height: calc(100vh - 10.5rem - 2px);
    min-width: 16rem;
    max-width: 24rem;
    top: 5.25rem;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    transform: scaleX(-1);
  }
  div.sidebar-inner {
    transform: scaleX(-1);
  }
  .navbtn {
    display: none;
  }
}

@media screen and (max-width: 90rem) {
  div.sidebar-outer {
    display: none;
  }
}
